/* 1024px以下 */
@media (max-width: 1024px) {
  .images {
    width: 400px;
    height: 400px;
  }
}

/* 768px以下 */
@media (max-width: 768px) {
  .images {
    width: 300px;
    height: 300px;
  }
}

/* 560px以下 */
@media (max-width: 560px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 16px;
  }

  .header-left {
    width: 100%;
    gap: 8px;
  }
  .header-right {
    width: 100%;
  }
}

/* 425px以下 */
@media (max-width: 425px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 16px;
  }

  .header-left {
    width: 100%;
    gap: 8px;
  }
  .header-right {
    width: 100%;
  }

  .coming {
    font-size: 10px;
  }

  .name {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
}

/* 375px以下 */
@media (max-width: 375px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 16px;
  }

  .header-left {
    width: 100%;
    gap: 8px;
  }
  .header-right {
    width: 100%;
  }

  .coming {
    font-size: 10px;
  }

  .name {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
}

/* 320px以下 */
@media (max-width: 320px) {
  .content-area {
    display: flex;
    flex-direction: column;
  }

  .image {
    text-align: center;
  }

  .images {
    width: 250px;
    height: 250px;
  }
}
