/* 820px以下 */
@media (max-width: 820px) {
  .block {
    display: flex;
    width: calc(100% / 2);
    padding: 10px;
  }
}

/* 560px以下 */
@media (max-width: 560px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 16px;
  }

  .header-left {
    width: 100%;
    gap: 8px;
  }
  .header-right {
    width: 100%;
  }

  .days {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

/* 425px以下 */
@media (max-width: 425px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 16px;
  }

  .header-left {
    width: 100%;
    gap: 8px;
  }
  .header-right {
    width: 100%;
  }

  .coming {
    font-size: 10px;
  }

  .name {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  .block {
    display: flex;
    width: 100%;
    padding: 10px;
  }
}

/* 320px以下 */
@media (max-width: 375px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 16px;
  }

  .header-left {
    width: 100%;
    gap: 8px;
  }
  .header-right {
    width: 100%;
  }

  .coming {
    font-size: 10px;
  }

  .name {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
}
