* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.qual-list-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #d0d0d0;
}

.header-left {
  flex: 1;
  font-size: 20px;
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 32px;
}

.search-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  background-color: #fff;
  padding: 6px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  box-shadow: 8px 8px 10px -10px rgb(0 0 0 / 20%);
}

.search-area:hover {
  box-shadow: 10px 10px 10px -10px rgb(0 0 0 / 20%);
}

.search-text {
  background-color: transparent;
  font-size: 16px;
  border: 0;
  outline: 0;
}

.search-icon {
  position: relative;
  width: 30px;
  height: 30px;
  fill: #3879d9;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.search-icon::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #d0d0d0;
  position: absolute;
  top: 0;
  left: -8px;
}

.add-icon {
  width: 36px;
  height: 36px;
  fill: none;
  stroke: #696969;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.login-user {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2px;
}

.user-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: left;
}

.coming {
  font-size: 12px;
}

.name {
  background-color: transparent;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
