* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.signin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 40%);
}

.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 30%;
  min-height: 30%;
  background-color: #fff;
  padding: 36px 24px;
}

.signin-header {
  display: flex;
  align-items: center;
}

.signin {
  font-size: 20px;
  font-weight: bolder;
}

.signup {
  font-size: 20px;
  margin-left: 12px;
  font-weight: bolder;
  opacity: 0.3;
}

.signin-content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/** includeする */
.username {
  min-height: 10%;
  background-color: transparent;
  border: 1px solid #d0d0d0;
  font-size: 16px;
  padding: 8px;
}

.username::placeholder {
  font-size: 16px;
}

/** includeする */
.number {
  min-height: 10%;
  background-color: transparent;
  border: 1px solid #d0d0d0;
  font-size: 16px;
  padding: 8px;
}

.number::placeholder {
  font-size: 16px;
}

/** includeする */
.passwd {
  min-height: 10%;
  background-color: transparent;
  border: 1px solid #d0d0d0;
  font-size: 16px;
  padding: 8px;
}

.passwd::placeholder {
  font-size: 16px;
}

.submit {
  min-height: 10%;
  color: #fff;
  background-color: #00bfff;
  border: 1px solid #00bfff;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
}

.submit:active {
  background-color: #1f7a99;
  border: 1px solid #1f7a99;
}
