/* height 1368pz以上 */
@media (min-height: 1368px) {
  .content-area {
    display: flex;
    flex-direction: column;
  }

  .image {
    text-align: center;
  }

  .images {
    width: 750px;
    height: 750px;
  }

  .detail-header {
    justify-content: center;
  }

  .header-title {
    font-size: 32px;
    font-weight: bold;
  }

  .header-image {
    width: 120px;
    height: 80px;
  }

  .judge-area,
  .days {
    padding-left: 56px;
  }

  .done-title {
    font-size: 20px;
  }

  .done-content {
    font-size: 28px;
    font-weight: bold;
  }

  .pass-title {
    font-size: 20px;
  }

  .pass-content {
    font-size: 28px;
    font-weight: bold;
  }

  .score-content {
    font-size: 20px;
  }

  .day-title,
  .schedule-title {
    font-size: 20px;
  }

  .day-content,
  .schedule-content {
    font-size: 28px;
    font-weight: bold;
  }

  .challenge-title {
    font-size: 20px;
  }

  .challenge-content {
    font-size: 28px;
    font-weight: bold;
  }
}

/* height 1180px以上 */
@media (min-height: 1180px) {
  .content-area {
    display: flex;
    flex-direction: column;
  }

  .image {
    text-align: center;
  }

  .images {
    width: 600px;
    height: 600px;
  }

  .detail-header {
    justify-content: center;
  }

  .header-title {
    font-size: 28px;
    font-weight: bold;
  }

  .header-image {
    width: 120px;
    height: 80px;
  }

  .judge-area,
  .days {
    padding-left: 56px;
  }

  .done-title {
    font-size: 20px;
  }

  .done-content {
    font-size: 28px;
    font-weight: bold;
  }

  .pass-title {
    font-size: 20px;
  }

  .pass-content {
    font-size: 28px;
    font-weight: bold;
  }

  .score-content {
    font-size: 20px;
  }

  .day-title,
  .schedule-title {
    font-size: 20px;
  }

  .day-content,
  .schedule-content {
    font-size: 28px;
    font-weight: bold;
  }

  .challenge-title {
    font-size: 20px;
  }

  .challenge-content {
    font-size: 28px;
    font-weight: bold;
  }
}
